/* Task 1: Flexbox layout positioning */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article, aside {
  overflow-y: auto;
  padding: 20px;
}

article {
  flex: 2;
}

aside {
  flex: 1;
}

header, footer {
  padding: 20px;
}

